body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

html {
    height: 100%;
}

.cat-house {
    background: #FFCA95;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ear {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 21px solid transparent;
    border-bottom: 27px solid #475881;
}

.ears {
    display: flex;
    flex-direction: row;
    margin-right: 40px;
}

.head {
    background: #7C85AB;
    border-radius: 40px;
    width: 140px;
    height: 80px;
    box-shadow: -10px 0 0 #475881;
    margin-bottom: -40px;
    z-index: 2;
}

.body {
    background: #7C85AB;
    width: 225px;
    height: 130px;
    border-radius: 100px;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.cat {
    width: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.eyes {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    margin-right: -15px;
    animation: 10s eyes infinite;
}

@keyframes eyes {
    50% {
        transform: translateX(0);
    }
    55% {
        transform: translateX(3px);
    }
    60% {
        transform: translateX(-3px);
    }
    70% {
        transform: translateX(3px);
    }
    80% {
        transform: translateX(-3px);
    }
    90% {
        transform: translateX(3px);
    }
    100% {
        transform: translateX(0);
    }
}


.eye {
    background: black;
    width: 11px;
    height: 11px;
    margin: 3px;
    border-radius: 50%;
}

.nose {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: -15px;
}

.nosy {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid pink;
    margin-right: -10px;
    z-index: 1;
}

.cheeks {
    background: white;
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.cheeks:first-child {
    margin-right: -8px;
}

.cheeks:last-child {
    margin-right: -7px;
}

.taile {
    background: #475881;
    height: 25px;
    width: 150px;
    border-radius: 20px;
    position: absolute;
    bottom: 30px;
    left: 75px;
    z-index: 0;
    top: 202px;
}

.paws {
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

.paw {
    background: white;
    width: 40px;
    height: 25px;
    border-radius: 30px;
    margin: 15px 5px;
}

.keyboard-length {
    background: #475881;
    height: 12px;
    width: 200px;
    border-radius: 20px;
}

.keyboard-width {
    background: #16223f;
    height: 12px;
    width: 75px;
    border-radius: 20px;
}

.screen {
    background: #16223f;
    height: 80px;
    width: 130px;
	-webkit-transform: skew(344deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
    border-radius: 10px;
    margin-left: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.laptop {
    margin-top: 105px;
    margin-left: -150px;
    z-index: 2;
}

.logo-left {
    background: #475881;
    height: 20px;
    width: 12px;
    -webkit-transform: skew(355deg);
    border-radius: 7px;
    margin-right: 2px;
}

.logo-right {
    background: #475881;
    height: 20px;
    width: 12px;
    -webkit-transform: skew(355deg);
    border-radius: 7px;
    margin-left: 2px;
}

.logo {
    display: flex;
}

.paw-left {
    animation: 10s paw-left infinite;
}

@keyframes paw-left {
    2% {
        transform:translateY(-10px)
    }
    6% {
        transform:translateY(0)
    }
    8% {
        transform:translateY(-10px)
    }
    10% {
        transform:translateY(0)
    }
    14% {
        transform:translateY(-10px)
    }
    18% {
        transform:translateY(0)
    }
    22% {
        transform:translateY(-10px)
    }
    26% {
        transform:translateY(0)
    }
}


.paw-right {
    animation: 10s paw-right infinite;
}

@keyframes paw-right {
    6% {
        transform:translateY(-10px)
    }
    8% {
        transform:translateY(0)
    }
    10% {
        transform:translateY(-10px)
    }
    12% {
        transform:translateY(0)
    }
    16% {
        transform:translateY(-10px)
    }
    20% {
        transform:translateY(0)
    }
    24% {
        transform:translateY(-10px)
    }
    28% {
        transform:translateY(0)
    }
}

.cat > .tail {
    bottom: 0;
    right: 35%;
    border-radius: 50%/250%;
    height: 25px;
    width: 150px;
    position: absolute;
    bottom: 30px;
    left: 75px;
    z-index: 0;
    top: 202px;
    background: linear-gradient(to left, #475881 58%, rgba(0,0,0,0) 40%);

  }
  
  .cat .tail > .tail {
    right: 56%;
  }
  
  .tail > .tail {
    height: 100%;
    transform-origin: center right;
    transform: rotate(0deg);
    width: 30px;
    right: 26%;
    animation: tail 2s none infinite;
    border-top-left-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    background-color: inherit;
    position: absolute;
    background: #475881;
}
  
  @keyframes tail {
    5% {
      transform: rotate(0);
    }
    50% {
      transform: rotate(10deg);
    }
    70%,
    100% {
      transform: rotate(0);
    }
  }